.p-head{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
}

.p-bullet{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
}

.p-display{
    text-align: left;
}

@media (max-width:629px){
    .p-image{
        width: 200px;
    }
    .p-flex{
        flex-direction: column-reverse;
    }
    .p-head{
        font-size: 30px;
    }
    .p-bullet{
        font-size: 20px;
    }
}
