.brand{
  
    font-weight: 400;
}

.navitem{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.left{
   text-align: right;
}

.top{
    margin-right: 10px;
    background-color: #AA66CC;
    border-radius: 5px;
}
.top:hover{
    background-color: #AA66CC;
}

.out{
    color: #AA66CC;
    border-color: #AA66CC;
}

  .navitem:hover {
   border-bottom:5px solid #AA66CC;
  }
   
  .navitem{
    border-bottom:5px solid #ffffff;
  }